* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
    list-style: none;
    list-style: none;
    text-decoration: none;
}

.navname{
    color: rgb(5, 5, 63);
}

.card-body{
    text-align: center;
    text-wrap: wrap;
    padding: 20rem 20rem;
    --bs-card-spacer-y: 5rem;
    --bs-card-spacer-x: 7rem;
    --bs-card-title-spacer-y: 1.5rem;
    
}

.col-md-8{
    background-color: rgb(68, 89, 165);
    
}

